.resetButton, .popup__button, .popup__close-button, .header__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(100vh - 72px);
}
@media screen and (max-width: 550px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.intro__first {
  background-color: #ECE7E4;
  padding: 100px 100px;
}
@media screen and (max-width: 1000px) {
  .intro__first {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 705px) {
  .intro__first {
    padding: 25px 25px;
  }
}
.intro__upper-title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.8s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .intro__upper-title {
    font-size: 10px;
  }
}
@media screen and (max-width: 705px) {
  .intro__upper-title {
    font-size: 8px;
  }
}
.intro__upper-title._active {
  transform: translateY(0);
  opacity: 1;
}
.intro__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #1B1A1A;
  margin-top: 20px;
  max-width: 417px;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.8s ease-in-out 0.1s;
}
@media screen and (max-width: 1000px) {
  .intro__title {
    font-size: 55px;
  }
}
@media screen and (max-width: 705px) {
  .intro__title {
    font-size: 45px;
  }
}
.intro__title._active {
  transform: translateY(0);
  opacity: 1;
}
.intro__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403E3B;
  margin-top: 18px;
  max-width: 509px;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.8s ease-in-out 0.2s;
}
@media screen and (max-width: 1000px) {
  .intro__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 705px) {
  .intro__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 550px) {
  .intro__text {
    max-width: 300px;
  }
}
.intro__text._active {
  transform: translateY(0);
  opacity: 1;
}
.intro__link {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
  margin-top: 41px;
  display: flex;
  text-decoration: none;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.8s ease-in-out 0.4s;
}
@media screen and (max-width: 1000px) {
  .intro__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 705px) {
  .intro__link {
    font-size: 10px;
  }
}
.intro__link._active {
  opacity: 1;
  transform: translateY(0);
}
.intro__link:hover {
  opacity: 0.7;
}
.intro__second {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
}

.header {
  max-width: 1440px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 16px 15px;
}
.header__burger-menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header__burger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7%;
  }
}
.header__logo {
  width: 220px;
  height: 19px;
}
.header__links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .header__links {
    display: none;
  }
}
.header__link {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1B1A1A;
  text-decoration: none;
  margin-right: 32px;
  transition: 0.2s linear;
}
.header__link:hover {
  opacity: 0.8;
}
.header__button {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background-color: black;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  transition: 0.2s linear;
}
.header__button:hover {
  color: black;
  background-color: white;
}

.body_active {
  overflow: hidden;
}

.burger {
  display: flex;
  align-items: center;
}
.burger__element {
  width: 37px;
  height: 2px;
  border-bottom: 4px solid black;
  margin-top: 3px;
}

.popup {
  position: fixed;
  background-color: white;
  display: grid;
  top: 0;
  left: 0;
  bottom: 0;
  width: fit-content;
  height: 100%;
  box-shadow: 2px 0px 6px 2px rgba(34, 60, 80, 0.2);
  padding-right: 80px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-out;
  transform: translateX(-100%);
}
.popup_active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}
.popup__close-button {
  background-image: url("../images/logo/close.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  position: relative;
  left: 110%;
  top: 2%;
  transition: 0.5s ease-in-out;
}
.popup__close-button_active {
  transform: rotate(180deg);
}
.popup__links {
  margin-left: 50px;
}
.popup__link {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 160%;
  color: #1B1A1A;
  text-decoration: none;
  margin-right: 32px;
  transition: 0.2s linear;
}
.popup__link:hover {
  opacity: 0.8;
}
.popup__button {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background-color: black;
  width: 190px;
  height: 60px;
  border-radius: 10px;
  transition: 0.2s linear;
  margin-top: 30px;
}

.firm {
  margin: 0 auto;
  display: flex;
  column-gap: 130px;
  justify-content: center;
  padding: 100px 20px;
}
@media screen and (max-width: 590px) {
  .firm {
    flex-direction: column;
  }
}
.firm__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 119%;
  color: #403E3B;
}
@media screen and (max-width: 800px) {
  .firm__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.firm__block-text {
  max-width: 493px;
}
.firm__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403E3B;
  margin-bottom: 10px;
}
@media screen and (max-width: 590px) {
  .firm__text {
    font-size: 12px;
  }
}
.firm__text:last-child {
  margin-bottom: 0px;
}

.house {
  width: 100%;
  min-height: 600px;
  position: relative;
}
.house__background {
  background-image: url("../images/house.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  z-index: -5;
}
.house__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
  text-align: left;
  max-width: 285px;
  z-index: 5;
  position: absolute;
  top: 48%;
  left: 80%;
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  .house__title {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
  }
}
.house__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #645C55;
  max-width: 285px;
  position: absolute;
  top: 54%;
  left: 80%;
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  .house__text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
  }
}
.house__overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .house__overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.slider {
  margin: 0 auto;
  padding: 100px 20px;
}
.slider__upper-title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
  margin-bottom: 13px;
}
.slider__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  text-align: center;
  color: #1B1A1A;
  margin-bottom: 47px;
}
.slider__container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .slider__container {
    justify-content: normal;
  }
}
.slider__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .slider__block:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
  }
}
.slider__block-image {
  max-width: 117px;
  height: auto;
  margin-bottom: 15px;
}
.slider__block-title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: #403E3B;
  margin-bottom: 10px;
}
.slider__block-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #645C55;
  max-width: 294px;
}

.swiper {
  max-width: 380px;
  height: 330px;
  -webkit-box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 5px 16px -6px rgba(34, 60, 80, 0.2);
  padding-top: 10px;
}

.ladder__background {
  background-image: url("../images/background_2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  z-index: -5;
}

:root {
  --swiper-theme-color: black;
}

.customer {
  width: 100%;
  background-color: #403E3B;
  padding: 135px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
@media screen and (max-width: 885px) {
  .customer {
    grid-template-columns: 1fr;
  }
}
.customer__uppertitle {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
  margin-left: 10px;
}
.customer__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 119%;
  color: #FFFFFF;
  margin-top: 16px;
  margin-left: 10px;
}
.customer__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #ECE7E4;
  margin-top: 14px;
  margin-left: 10px;
}
.customer__second-block {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 0 auto;
}
.customer__image {
  transition: 0.2s linear;
}
@media screen and (max-width: 722px) {
  .customer__image {
    margin-bottom: 70px;
  }
}
.customer__image:hover {
  opacity: 0.6;
}
.customer__image:last-child {
  margin-bottom: 0;
}
.customer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 128px;
  column-gap: 96px;
  align-items: center;
  margin-right: 10px;
}
@media screen and (max-width: 885px) {
  .customer__wrapper {
    display: flex;
    row-gap: 0;
    margin: 50px 35px 0;
    column-gap: 0;
    justify-content: space-between;
  }
}
@media screen and (max-width: 722px) {
  .customer__wrapper {
    display: flex;
    margin: 50px 20px 0;
    flex-direction: column;
    justify-content: normal;
  }
}

.staircase {
  width: 100%;
  min-height: 600px;
  position: relative;
}
.staircase__background {
  background-image: url("../images/staircase.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  z-index: -5;
}
.staircase__overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .staircase__overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.staircase__title {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
  text-align: left;
  max-width: 285px;
  z-index: 5;
  position: absolute;
  top: 48%;
  right: 80%;
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  .staircase__title {
    top: 45%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
  }
}
.staircase__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #645C55;
  max-width: 285px;
  position: absolute;
  top: 54%;
  right: 80%;
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  .staircase__text {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
  }
}

/* ------- */
.anim-show {
  transform: translateY(120%);
  transition: 0.8s ease-in-out;
  opacity: 0;
}

.anim-show._active,
.active .anim-show {
  transform: translateY(0);
  opacity: 1;
}

/*# sourceMappingURL=idnex.css.map */
