@import '../variables/index';
@import '../vendor/reset';
@import '../blocks/intro/intro';
@import '../blocks/main/main';
@import '../blocks/header/header.scss';
.page {
    width: 100%;
}

.burger {
    display: flex;
    align-items: center;
    &__element {
        width: 37px;
        height: 2px;
        border-bottom: 4px solid black;
        margin-top: 3px;
    }
}


/* popup */

.popup {
    position: fixed;
    background-color: white;
    display: grid;
    top: 0;
    left: 0;
    bottom: 0;
    width: fit-content;
    height: 100%;
    box-shadow: 2px 0px 6px 2px rgba(34, 60, 80, 0.2);
    padding-right: 80px;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-out;
    transform: translateX(-100%);
    &_active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
    }
    &__container {}
    &__close-button {
        background-image: url('../images/logo/close.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 45px;
        width: 45px;
        @extend .resetButton;
        position: relative;
        left: 110%;
        top: 2%;
    }
    &__links {
        margin-left: 50px;
    }
    &__link {
        font-family: $pop;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 160%;
        color: #1B1A1A;
        text-decoration: none;
        margin-right: 32px;
        transition: .2s linear
    }
    &__link:hover {
        opacity: .8;
    }
    &__button {
        @extend .resetButton;
        font-family: $pop;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 150%;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        background-color: black;
        width: 190px;
        height: 60px;
        border-radius: 10px;
        transition: .2s linear;
        margin-top: 30px;
    }
}